/*
Theme Name: TriviumBestiaire
*/

  /* Temporaire *** Eliminer ***********/
  
  /* * {     
    border: 2px solid red;
  } */
  .border-red {     
    border: 2px solid red;
  }
  .border-blue {    
    border: 2px solid blue;
  }
  /* Styles ANNULES ************************************/

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;					/* SANS PUCE */
  }

  ul a {
    text-decoration: none; 				/* Liens non soulignés */
  }
  
  /* ***  Styles communs ******************************* */
  /*  Taille dx 
      Marge int ext
      Centrage auto / txt
      Centrage div
  */
  
  .dx40 {
    width: 40%;
  }
  .dx50 {
    width: 50%;
  }
  .dx60 {
    width: 60%;
  }
  .dx90 {
    width: 90%;
  }
  .dy400px {
    height: 400px;
  }
  .padding-V10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .padding-H10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-H50 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .margin-H10 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-H50 {
    margin-left: 50px;
    margin-right: 50px;
  }
  .margin-V10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* *** Centrage ******************/
  .center-elt {
    margin-left: auto;
    margin-right: auto;
  }
  .center-txt {
    text-align: center;
  }
  
  /* Centrage Div **********************/
  .ligne {
    display: flex;
    flex-direction: row;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .axe1-start {
    justify-content: flex-start;
  }
  .axe1-center {
    justify-content: center;
  }
  .axe1-sp-around {
  justify-content: space-around;
  }
  .axe1-sp-between {
  justify-content: space-between;
  }
  .axe2-center {
    align-items: center;
  }
  
/* Img **********************/

/* .img-big {
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex: 1;
  margin: 10px;
} */

.img-medium {  
  height: 140px;
  width: 160px;
  object-fit:contain;
}

.img-small {
  height: 100px;
  width: 110px;
  object-fit:contain;
}




/* Style propres *************************************/

header {
    /* background-image: url("../../images/top_bg.jpg"); */
    /* background: center/cover url(bestiaire_banniere.png) no-repeat; */
    background: center/cover url(/PHP_2022/03c_WP_TriviumBestiaire/wp-content/themes/TriviumBestiaire/assets/bestiaire_banniere.png) no-repeat;

    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}
.box-grey, 
.box-blue {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.777);
}
.box-blue {
    background-color: rgba(100, 100, 200, 0.777);
}
h1 {
  padding-left: 50px;
  padding-right: 50px;
}



/***Pluggin: AZ-List **********************/
.az-letters {
  /* display: none; */


  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px;
  background-color: rgba(211, 211, 211, 0.777);
}
.items-inner {
  display: flex;
  flex-direction: row;
}
.letter-section{ 
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  background-color: rgba(100, 100, 189, 0.50);
}


li, #id-accueil {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;

  /* text-decoration: none; 				Liens non soulignés */
  /* color: black; */
  box-shadow: 1px 1px 2px white;

  font-size: 1.2rem;
}

#id-accueil {
  background-color: rgba(211, 211, 211, 0.777);
}

div .letter-section ul.az-columns li {
  padding: 5px 10px;
}